
<form action="/auth/login" method="POST">

   
    <div class="email">
        <input type="text" name="email" placeholder="email adress" >
    </div>
    <div class="password">
        <input type="text" name="password" placeholder="password">
    </div>
    <div class="button">
        <button type="submit">Login</button>

    </div>
    <div class="link">
        <a href="/auth/register">register</a>
    </div>
</form>


