</div>

<form action="/auth/register" method="POST">


<div class="name">
    <input type="text" name="username" placeholder="username" >
    </div>
    <div class="email">
        <input type="text" name="email"  placeholder="email">
    </div>
    <div class="password">
        <input type="password" name="password" placeholder="password">
    </div>
    <div class="password2">
        <input type="password" name="confirmPassword" placeholder="password2">
    </div>
    <div class="button">
        <button type="submit">Register</button>
        
    </div>
    <div class="link">
        <a href="/auth/login">login</a>
    </div>
    
</form>
</div>

